<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Historia - Programator Xitanium Outdoor</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="container">
  <h1 id="hd"><a href="/">Programator Xitanium Outdoor</a></h1>
  <hr>
  <h2>
    <a href="/history">Historia</a>
    \
    <a href="/history/<%= historyEntry.dateString %>"><%= historyEntry.dateString %></a>
    \
    <%= historyEntry.id %>
  </h2>
  <dl class="well">
    <dt>Kod 12NC:
    <dd><%= historyEntry.nc %>
    <dt>Czas programowania:
    <dd><%= historyEntry.dateString %> <%= historyEntry.timeString %>
    <dt>Wynik programowania:
    <dd><%= historyEntry.error ? 'Porażka' : 'Sukces' %>
    <% if (historyEntry.error) { %>
    <dt>Komunikat błędu:
    <dd><%= historyEntry.error %>
    <% } %>
    <dt>Profil wejściowy:
    <dd class="profile"><pre><code><%= historyEntry.inputProfile ? historyEntry.inputProfile : '-' %></code></pre>
    <dt>Profil wyjściowy:
    <dd class="profile"><pre><code><%= historyEntry.outputProfile ? historyEntry.outputProfile : '-' %></code></pre>
  </dl>
</div>
</body>
</html>
