<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Historia - Programator Xitanium Outdoor</title>
  <link rel="stylesheet" href="/css/main.css">
  <style>
  .table td {
    cursor: pointer;
  }
  </style>
</head>
<body>
<div id="container">
  <h1 id="hd"><a href="/">Programator Xitanium Outdoor</a></h1>
  <hr>
  <h2><a href="/history">Historia</a></h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>#
      <th>Data i czas
      <th>12NC
      <th>Wynik
    </tr>
    </thead>
    <tbody>
    <% historyEntries.forEach(function(historyEntry, i) { %>
    <tr data-date="<%= historyEntry.dateString %>" data-id="<%= historyEntry.id %>">
      <td><%= i + 1 %>
      <td><%= historyEntry.dateString %> <%= historyEntry.timeString %>
      <td><%= historyEntry.nc %>
      <td><%= historyEntry.error ? 'Porażka' : 'Sukces' %>
    </tr>
    <% }) %>
    </tbody>
  </table>
  <div class="form-actions">
    <a href="/history/<%= dates %>?export=csv" class="btn btn-large btn-primary">Eksportuj wpisy</a>
  </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/historyEntries.js"></script>
</body>
</html>
